body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FAFAFA;
    min-width: 350px;}

ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
*{
    box-sizing: content-box;
}
/* main */
#main{
    width: 100%;
    margin: auto;
    height: auto;
    padding-bottom: 20px;
    margin-top: 80px;
}
 

/* signup DETAILS SECTION */
#main-content{
    width: 35%;
    height: auto;
    margin: auto;
    border: 5px solid darkgray;
    border-radius: 35px;
    padding: 20px;
    box-shadow: 3px 6px 10px 2px lightgrey;
}
.signup-details{
    text-align: center;
}
.signup-heading{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-right: 3%;
}
.input{
    height: 220px;
    width: 86%;
    padding: 5px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    background-color: lightgrey;
    border-radius: 25px;
}
input{
    height: 50px;
    width: 90%;
    margin: auto;
    outline: none;
    border: 1px solid black;
    border-radius:20px;
    margin-bottom: 30px;
    font-size: large;
    font-weight: 600;
    padding-left: 20px;
    box-shadow: 0px 1px 10px 4px grey;
}
.otp{
    width: 50px;
    background-color: lightgrey;
    border: none;
    border-bottom: 5px solid darkgray;
    margin-bottom: 30px;
    font-size: x-large;
    font-weight: 600;
    margin-right: 6px;
    text-align: center;
    border-radius: 0;
    padding-left:0;
    box-shadow: none;
}
 
button{
    background: none; 
    border: none; 
    outline: none; 
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: x-large;
    background-color: black;
    width: 60%;
    padding: 8px;
    border-radius: 25px;
}
button:hover{
    color: yellow;
}
button:focus{
    outline: none;
}
#resend-otp:hover{
    color: gray !important;
}
#sign-in{
    text-decoration: none; font-size: large; color: black; font-weight: 600;
}
#sign-in:hover{
    color: grey;
}
@media (max-width:1224px){
    #main{
        margin-top: 50px ;
    }
    #main-content{
        width: 45%;
    }
}
@media (max-width:962px){
    #main-content{
        width: 50%;
    }
    .input{
        width:96%;
    }
}
@media (max-width:778px){

    #main-content{
        width: 60%;
    }

   
}
@media (max-width:650px){
    #main-content{
        width: 70%;
    }
}
 
@media (max-width:566px){
    #main-content{
        width: 80%;
    }
}

@media (max-width:491px){
    #main-content{
        width: 86%;
    }
    .input{
        width:100%;
    }
     .signup-heading{
        font-size: 30px;
    }
   
     
}
@media (max-width:431px){
    .otp{
        margin-right: 1.5px;
    }
}
@media (max-width:400px){
    .otp{
        margin-right: -1px;
    }
}
@media (max-width:374px){
    #main-content{
        width: 90%;
    }
    .otp{
        margin-right: -3px;
    }
}
     
 